{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

<div class="container">
<div class="row">
<div class="form col-md-4" style="background-color:white;margin: 60px 40px;">
  <ul>
    {% if is_granted('ROLE_ADMIN') %}
  <li style="list-style:none;"><a style="color:red;"href="{{ path('commentaire_index') }}" class="">GESTION COMMENTAIRES ADMIN</a></li>
    {% endif %}
      <li style="list-style:none;"><a href="{{ path('commentaire_user') }}"class="">Commentaire(s) Posté(s)</a></li>
      <li style="list-style:none;"><a href="{{ path('commentaire_aime')}}"class="" >J'aime(s) reçu(s)</a></li>
      <li style="list-style:none;"><a href="{{ path('commentaire_like')}}"class="" >J'aime(s) posté(s)</a></li>
  </ul>
</div>
<div class="form col-md-offset-2 col-md-6" style="padding-bottom=5px; background-color:white;">
<h1 style="color:black;">Commentaires que j'ai likés</h1>
<table class="table">
  <div class="container">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
{% for avis in avis %}
<tr>
{% if avis.article == NULL %}

<td>Vous avez aimé le commentaire "{{avis.commentaire.commentaire}}" posté par {{avis.commentaire.utilisateur.username}} sur l'article <a href="{{ path('article_show', { 'id': avis.commentaire.article.id }) }}"> {{avis.commentaire.article.titre}} </a> </td>
{% endif %}
<tr>
{% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
