{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

<div class="container">
<div class="row">
<div class="form col-md-4" style="background-color:white;">
    <ul>
        <li style="list-style:none;"><a href="#" >Tout</a></li>
        <li style="list-style:none;"><a href="{{ path('commentaire_user') }}">Posté</a></li>
        <li style="list-style:none;"><a href="{{ path('commentaire_aime')}}" >J'aime reçus</a></li>
        <li style="list-style:none;"><a href="{{ path('commentaire_like')}}" >J'aime postés</a></li>
    </ul>
</div>
<div class="form col-md-offset-2 col-md-6" style="padding-bottom=5px; background-color:white;margin: 40px 40px;">
<h1 style="color:black;">Les utilisateurs qui aiment mes commentaires</h1>

  <table class="table">

      <tbody>
<tr>
{% for commentaire in commentaire %}
{% for avis in commentaire.avis %}
{% if avis.reaction == 1 %}


<td><strong>{{avis.utilisateur.username}}</strong> a aimé votre commentaire "{{avis.commentaire.commentaire| truncate(30, true, ' ...')}}" sur l'article {{avis.commentaire.article.titre}}</td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}

</tbody>
</table>
</div>
</div>
</div>
</div>
