{% include "FOSUserBundle::layout.html.twig" %}
{% include 'base.html.twig' %}

<style>
label{
  color: transparent;
}

textarea{
  margin-top: 2%;
  margin-bottom: 2%;
  min-height:100px;
}
</style>
{% block body %}

  <div class="container">

    <div class="row">
<h1>Modifier L'article </h1>


<div class="form" style="height:50vh;">
  {{ form_start(edit_form) }}
  {{ form_widget(edit_form) }}



<div class="col-md-6">

  <input type="submit" class="btn-sm btn-primary text-center" value="Modifier" style="margin-bottom:2%;"/>
  {{ form_end(edit_form) }}

</div>
<div class="col-md-6">

{{ form_start(delete_form) }}
<input type="submit" class="btn-sm btn-danger" value="Supprimer" style="margin-bottom:2%;background-color: rgb(202, 30, 30);}">
{{ form_end(delete_form) }}
</div>

<div class="text-center" style="margin-top:15vh;text-decoration:none">
  <a href="{{ path('article_index') }} " >Retour à la liste</a>
</div>

</div>

</div>

  </div>





</div>




{% endblock %}
