{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

{% block body %}
  <div class="container">
    <h1>Liste de tous les commentaires</h1>
    <div class="row">
        <div class="col-md-12">
        <div class="form col-md-4" style="background-color:white;">
            <ul>
                <li style="list-style:none;"><a href="{{ path('commentaire_index') }}" class="">Tout</a></li>
                <li style="list-style:none;"><a href="{{ path('commentaire_user') }}"class="">Posté</a></li>
                <li style="list-style:none;"><a href="{{ path('commentaire_aime')}}"class="" >J'aime reçus</a></li>
                <li style="list-style:none;"><a href="{{ path('commentaire_like')}}"class="" >J'aime postés</a></li>
            </ul>
        </div>


        <div class="col-md-offset-2 col-md-6">
            {% for commentaire in commentaires %}
            <div class="form" style="padding-bottom=5px; background-color:white;">
               <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">
                 <h4 class="text-center" style="color:black">
                   Commentaire de <strong>{{commentaire.utilisateur.username}} :" </strong>
                   {{ commentaire.commentaire }} "
               </h4>
             </a>
            <p class="text-right"> Sur l'article :                    {{commentaire.article.titre}}
              <a href="{{ path('admincommentaire_delete', { 'id': commentaire.id }) }}"><i class=" fa fa-remove"></i> supprimer</a>
            </p>

        </div>
        {% endfor %}


        <div class="col-md-offset-2 col-md-6">
            {% for commentaire in commentaires %}
            <div class="form" style="padding-bottom=5px; background-color:white;">
               <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}"><h4 class="text-center" style="color:black">
                 Commentaire de <strong>{{commentaire.utilisateur.username}}</strong></br>
                 {{ commentaire.commentaire }}
               </h4></a>
            <p class="text-right">
              {{commentaire.article.titre}}
            </p>
            <ul style="display-flex">
                <li>
                    <a href="{{ path('admincommentaire_delete', { 'id': commentaire.id }) }}">suprime</a>
                </li>
            </ul>
        </div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>

{% endblock %}
