<!DOCTYPE html>
<html>
      <head>
          <meta charset="UTF-8" />
          <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
          <link rel="stylesheet" type="" href="{{ asset ('css/bootstrap.min.css') }}">
          <link rel="stylesheet" type="" href="{{ asset ('css/style.css') }}">
          <link rel="stylesheet" type="" href="{{ asset ('css/style_article.css') }}">
          <link rel="stylesheet" type="" href="{{ asset ('css/font-awesome.min.css') }}">
          <link rel="stylesheet" type="" href="{{ asset ('css/formstyle.css') }}">
          <link rel="stylesheet" type="" href="{{ asset ('css/normalize.css') }}">
          <script src="{{ asset ('script/bootstrap.min.js') }}"></script>
          <title>RunBlog'|A la découverte de notre île !</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="http://runblog.simplonreunion.co/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="RunBlog'|A la découverte de notre île !" />
	<meta property="og:description"   content="RunBlog' est un site centré sur les valeurs touristique de la Réunion " />
	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

      </head>

    <body>
        {% block body %}

        {% block javascript %}
        <script src="{{ asset ('script/jquery.js')}}"></script>
        <script src="{{ asset ('script/bootstrap.min.js')}}"></script>
        <script src="{{ asset ('script/form.min.js')}}"></script>

        {% endblock %}


      {% endblock %}
    </body>


</html>
