<style media="screen">

body{
  font-family: 'Roboto Condensed', sans-serif;
}
h1{
  color: black;
}
.cadre {
    box-shadow: 1px 1px 8px #555;
    /* height: 300px; */
    width: 220px;
    /* max-width: 80%; */
    /* max-height: 69%; */
}
.cadre:hover{
    box-shadow: 3px 3px 16px #555 ;
}

#marge{
  margin-top: 45px;
}
</style>

<div class="container tableau" id="marge">







  <div class="col-md-12 text-center">
    <img class="text-center" src="/img/runblog.png" class="img-responsive">
    <h3 style="padding-top:3%;"><em>RunBlog vous propose de voir en images toutes les merveilles de l'île de La Réunion
les différentes cultures, les paysages en vous proposant de faire des sorties et bien d'autres choses encore...
Bienvenue sur le blog de l'île Intense !</em></h3>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% else %}
<p class="col-md-12 text-center" style="color:black;margin-top:20px;"><a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> ou <a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous</a> pour interagir avec la communauté RunBlog :) ! </p>
{% endif %}
    <h2 style="padding-top:5%;">Nos derniers articles </h2>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
        <div class="col-md-12 text-center">
        {% for articles in article %}
        {% if articles.public == "oui" %}
            <div class="col-md-3" style="text-align: -webkit-center;">
              <div class="cadre">
                <a href="{{ path('article_show', { 'id': articles.id }) }}" style="text-decoration:none;color:white;">
                  <img src="/images/products/{{ articles.imageName }}" class="img-responsive">
                  <div class="text-center" style="color:black;">{{ articles.titre| truncate(60, true, 'lire la suite...') }}</div>
                </a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-12 text-center ">
          <hr>
          <small>Partagez notre page avec vos amis ! </small>
          <div class="fb-like" data-href="http://runblog.simplonreunion.co" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

        </div>
        <div class="col-md-12 text-center" style="margin-top: 20px;color:rgba(0, 0, 0, 0.2);">


          <small>© COPYRIGHT : FREDERIC BOYER - LORENZA DAMOUR - KEVIN NARSICADOU- GUILLAUME VACARME </small>
        </div>



      </div>

    <style media="screen">
    .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
    .carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
    .onebyone-carosel .active.left { left: -33.33%; }
    .onebyone-carosel .active.right { left: 33.33%; }
    .onebyone-carosel .next { left: 33.33%; }
    .onebyone-carosel .prev { left: -33.33%; }
    .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    .hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
}



    </style>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">
    $(document).ready(function () {
    $('#myCarousel').carousel({
        interval: 5000
    })
    $('.fdi-Carousel .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        }
        else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
});

    </script>
