{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}



<div class="container tableau">
  <h2>Liste d'article</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Publié</th>
        <th>j'aime(s)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
          <tr>
              <td><a href="{{ path('article_show', { 'id': article.id }) }}"> {{ article.titre }} </a> </td>
              <td>{{ article.date }}</td>
              <td><div class="btn-group btn-toggle" data-toggle="buttons">
                  <label class="btn {% if article.public == 'oui' %}btn-primary{% endif %}">
                      <input type="radio" name="options" value="option1" disabled> Publié
                  </label>
                  <label class="btn {% if article.public == 'non' %}btn-primary{% endif %}">
                      <input type="radio" name="options" value="option2" disabled> Brouillon
                  </label>
              </div>
            </td>
              <td>{{ article.nombredeJaime }}</td>
              <td>
                  <ul>
                      <li style="list-style:none;">
                          <a href="{{ path('article_edit', { 'id': article.id }) }}"><i class="fa fa-edit"></i> Editer</a>
                      </li>
                  </ul>
              </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="col-md-12 text-center">
    <a href="{{ path('article_new') }}"><button class="btn btn-primary" type="button" name="button"> <i class="fa fa-plus"></i> Nouvel Article</button></a>

  </div>
</div>
