{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}


{% block body %}
  <div class="container">
    <h1>Liste de tes commentaires</h1>
    <div class="row">
        <div class="col-md-12">
        <div class=" form col-md-4" style="background-color:white;">
            <ul>
                <li style="list-style:none;"><a href="#" class="btn btn-primary">Posté</a></li>
                <li style="list-style:none;"><a href="{{ path('commentaire_aime')}}"class="btn btn-primary" >J'aime reçus</a></li>
                <li style="list-style:none;"><a href="{{ path('commentaire_like')}}"class="btn btn-primary" >J'aime postés</a></li>
            </ul>
        </div>
        <div class="col-md-offset-2 col-md-6">
            {% for commentaire in commentaires %}
            <div class="form" style="padding-bottom=5px; background-color:white;">
               <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}"><h2 class="text-center" style="color:black">
                  {{commentaire.article.titre}}
               </h2></a>
            <p>
              Commentaire de <strong>{{commentaire.utilisateur.username}}</strong></br>
              {{ commentaire.commentaire }}
            </p>
            <ul style="display-flex">
                <li>
                    <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">edit</a>
                </li>
            </ul>
        </div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>

{% endblock %}
