{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}


{% block body %}

<style media="screen">
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  /* padding-bottom: 6%; */
  margin-bottom: 4%;
}

.btn-admin {
  color: #fff;
  background-color: red;
  border-color: #2e6da4;
  /* padding-bottom: 6%; */
  margin-bottom: 4%;
}
</style>
  <div class="container" id="marge">
    <h1 class="text-uppercase" style="background-color:black;">Liste de tes commentaires</h1>
    <div class="row">
        <div class="col-md-12">
        <div class=" form col-md-4" style="background-color:white;">
          <ul>
            {% if is_granted('ROLE_ADMIN') %}
          <li style="list-style:none;"><a style="color:red;"href="{{ path('commentaire_index') }}" class="">GESTION COMMENTAIRES ADMIN</a></li>
            {% endif %}
              <li style="list-style:none;"><a href="{{ path('commentaire_user') }}"class="">Commentaire(s) Posté(s)</a></li>
              <li style="list-style:none;"><a href="{{ path('commentaire_aime')}}"class="" >J'aime(s) reçu(s)</a></li>
              <li style="list-style:none;"><a href="{{ path('commentaire_like')}}"class="" >J'aime(s) posté(s)</a></li>
          </ul>
        </div>
        <div class="col-md-offset-2 col-md-6">
            {% for commentaire in commentaires %}
            <div class="form" style="padding-bottom=5px; background-color:white;">

                 <h4 class="text-center" style="color:black">
                   Commentaire de <strong>{{commentaire.utilisateur.username}} :" </strong>
                   {{ commentaire.commentaire }} "
               </h4>

            <p class="text-center"> Sur l'article :  <a href="{{ path('article_show', { 'id': commentaire.article.id }) }}"> {{commentaire.article.titre}}</a>
                <br>
                <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">Modifier</a>
            </p>

        </div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>

{% endblock %}
