{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

{% block body %}

<style>

#articlehover:hover{
  -webkit-transition: 0.7s;
  background-color: rgba(0, 0, 0, 0.08);
}

#articlehover{
  max-height: 2%;
}

</style>





    <div id="marge" class="container" style="background-color:white;">
      <h1 style="color:black;text-transform: uppercase;">Les derniers articles</h1>

      <hr style="margin-top: 5px;margin-bottom: 5px;">
      {% for article in articles %}
      <div class="row" id="articlehover">
        <div class="col-sm-2" style="max-width:35%;"><a href="#" class="">
          <a href="{{ path('article_show', { 'id': article.id }) }}">
          <img src="/images/products/{{ article.imageName }}" class="img-responsive"></a>
        </a>
        </div>
        <div class="col-sm-10">
          <a href="{{ path('article_show', { 'id': article.id }) }}" style="text-decoration:none;color:black;">
          <h3 class="title">{{ article.titre }}</h3>
          <p>{{ article.description | truncate(70, true, ' ...')  }}</p>
          <p class="text-muted">Posté par <strong> {{ article.utilisateur}} </strong> le {{ article.date }} </p>
        </a>

        </div>
      </div>
      <hr style="margin-top: 5px;margin-bottom: 5px;">
      {% endfor %}


    </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
