{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

{% block body %}

<!-- Blog Post Content Column -->

<div class="container" style="background-color:white;">

<div class="col-lg-8">

    <!-- Blog Post -->

    <!-- Title -->
    <h1 style="color:black;font-weight:bolder;">{{ article.titre }}</h1>



    <hr>
    <!-- Author -->
    <p>Postée par <strong> {{ article.utilisateur.username}} </strong> le {{ article.date|date('d-m-Y') }} </p>


    <hr>

    <!-- Preview Image -->
    <div class="col-md-5">

      <img class="img img-responsive" src="/images/products/{{ article.imageName }}" alt="image">
    </div>



    <!-- Post Content -->
    <p class="lead">{{ article.description }}</p>

    <div class="foot col-row">

      <div class="col-md-4">
        <p><a href="{{ path('like_article',{'id':article.id}) }}"><i class="fa fa-thumbs-o-up"></i> Like</p></a>
      </div>

      <div class="col-md-8 text-right">
        <p>Mise à jour le {% if article.updatedAt %}{{ article.updatedAt|date('d-m-Y') }} à {{ article.updatedAt|date('H:i') }} {% endif %} </p>

      </div>

    </div>

    <hr>

    <!-- Blog Comments -->

    <!-- Comments Form -->
    <div class="well">
        <h4>Laisser un commentaire :</h4>
          {{ form_start(form) }}


 <div class="form-group">
   {{ form_widget(form.commentaire, {'attr': {'class':'form-control'}}) }}
   {{ form_errors(form.commentaire) }}
 </div>

 <ul class="list-inline text-center">
     <li>
       <input type="submit" value="Ajouter" class="btn btn-primary"/>
     </li>
  {{ form_end(form) }}


    </div>

    <hr>

    <!-- Posted Comments -->



     {% for commentaire in article.commentaire %}

    <!-- Comment -->
    <div class="row">
    <div class="media">
      <div class="col-md-2 col-sm-1 col-lg-2">
        <a class="pull-left" href="#">
            <img class="img img-responsive" src="/images/products/{{ commentaire.utilisateur.imageName }}" alt="img" >
        </a>
      </div>
        <div class="media-body">
            <h4 class="media-heading" style="font-weight:bolder;">{{commentaire.utilisateur.username}}
                <small>{{commentaire.date|date('d/m/Y')}}</small>
            </h4>

    {{commentaire.commentaire}}

{% if commentaire.utilisateur.id == app.user.id %}
<a href="{{ path('commentaire_edit' , {'id': commentaire.id }) }}"><input type="submit" name="name" value="modifier"><a>
{% endif %}

        </div>
    </div>
    <hr>
  </div>

    <!-- Comment -->
    {% endfor %}

</div>
<div class="col-md-4">


  {% if is_granted('ROLE_ADMIN') %}

      <ul>
          <li>
            <a href="{{ path('allarticle_index') }}"> Voir les articles </a>
          </li>
          <li>
              <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer l'article</a>
          </li>
          <li>
              {{ form_start(delete_form) }}
                  <input class="btn btn-primary" type="submit" value="Supprimer l'article">
              {{ form_end(delete_form) }}
          </li>
      </ul>

  {% endif %}

</div>



  </div>
{% endblock %}
